/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@500&display=swap');

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding: 6.25rem 0;
}

/* -------------novo------------- */
:root{
  --purple: hsl(282, 44%, 55%);
  --blue: hsl(183, 83%, 45%);
}

header .navbar-nav li{
    margin: 0 2rem;
    text-transform: uppercase;
}

header .button button{
    width: 6.5rem;
    height: 2.5rem;
    border-radius: 3.125rem;
    border: none;
    transition: all 0.2s;
}

header .button button:hover{
    background-color: var(--blue);
}

header .navbar-expand-md div.offcanvas{
    flex-grow: 0.685;
}

header .justify-items-center{
    justify-items: center;
}

.bg-purple{
    background-color: var(--purple);
    color: white;
}

.mockup-home {
  width: 40%;
}

.about-1 h2, .about-2 h2 {
  font-family: 'K2D', sans-serif;
  font-size: 2.5rem;
  color: var(--blue);
  text-align: center;
}

.about-1 h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.625rem;
  color: var(--purple);
  text-align: center;
}

.vitu {
  background-image: url("../img/background_vitu.png");
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}

footer hr{
    background-color: white;
    opacity: 0.75;
}

.list-style-disc{
    list-style: disc;
}

.nav-footer li:first-child{
    list-style: none;
}

footer .nav-link, footer .nav-link:hover{
    color: white;
}

footer .nav-link:hover{
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 768px) {
  footer .navbar-nav.flex-row{
      flex-direction: column !important;
      list-style: none;
  }
}