@{
    ViewBag.Title = "Home Page";
}

<div class="start-0 d-flex justify-content-center">
    <img class="position-absolute" src="~/fonts/img/logo_home.png" />
    <img class="vw-100"src="~/fonts/img/quadrados_home.png" alt="Quadrados Coloridos" />
</div>

<div class="d-flex gap-3 mt-5">
    <img class="mockup-home" src="~/fonts/img/mockup_home.png" alt="MockUp Tela VirtuArte">
    <div class="about-1 d-flex flex-column justify-content-center">
        <h2>Perfis pessoais e comerciais para você espalhar cultura</h2>
        <h4>Compartilhe suas experiências</h4>
    </div>
</div>

<div class="about-2 mt-5 h-100">
    <h2 class="mb-5 w-50">Conheça o Vitu</h2>
    <div class="d-flex justify-content-around align-items-center">
        <img class="" src="~/fonts/img/chat_home.png" alt="Conversa com o ChatBot Vitu">
        <img class="vitu"src="~/fonts/img/vitu.gif" alt="Foto Vitu (Chatbot do VirtuArte)">
    </div>    
</div>
