@{
    ViewBag.Title = "Home Page";
}

<div class="d-flex gap-3">
    <img class="mockup-home" src="~/fonts/img/mockup_home.png" alt="MockUp Tela VirtuArte">
    <div class="about-1 d-flex flex-column justify-content-center">
        <h2>Perfis pessoais e comerciais para você espalhar cultura</h2>
        <h4>Compartilhe suas experiências</h4>
    </div>
</div>

<div class="about-2 d-flex mt-5">
    <div>
        <h2 class="mb-5">Conheça o Vitu</h2>
        <img src="~/fonts/img/chat_home.png" alt="Conversa com o ChatBot Vitu">
    </div>
    <div>
        <img class="vitu" src="~/fonts/img/vitu.gif" alt="Foto Vitu (Chatbot do VirtuArte)">
    </div>
</div>
